body {
  background: #f0f0f0;
}

.App {
  text-align: center;
}

.welcome-card {
  position: relative;
  margin-left: 20%;
  margin-right: auto;
  margin-top: 35px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.option2 {
  color: #6d4c41;
}

.option1 {
  color: #fdd835;
}

.or {
  color: #009688;
}

/* .button {
  float: auto;
  margin-top: 400px;
} */
